#{{ ansible_managed }}
user              {{ webserver_user }};

worker_processes  {{ webserver_worker_processes }};
pid        /var/run/nginx.pid;
worker_rlimit_nofile {{ webserver_worker_rlimit_nofile }};

events {
    worker_connections  {{ webserver_max_clients }};
}


http {

        include /etc/nginx/mime.types;
        default_type application/octet-stream;
{% for v in webserver_http_params %}
        {{ v }};
{% endfor %}

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}