{% for vhost in webserver_vhosts %}
server {
    server_name {{ vhost.servername }};
    root {{ vhost.documentroot }};

    {% for port in webserver_listen_ports | unique %}
    listen {{ port }};
    {% endfor %}

    index index.php;
    client_max_body_size 10m;

    access_log /var/log/nginx/{{ vhost.servername }}.access.log;
    error_log /var/log/nginx/{{ vhost.servername }}.error.log;

    if ($http_user_agent ~* (Baiduspider|webalta|nikto|wkito|pikto|scan|acunetix|morfeus|webcollage|youdao) ) {
       return 401;
    }

    if ($http_user_agent ~* (HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner) ) {
       return 401;
    }

    location / {
       try_files $uri $uri/ /index.php$uri?$args;
    }

    location ~ "^(.+\.php)($|/)" {
        fastcgi_split_path_info ^(.+\.php)(.*)$;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SERVER_NAME $host;

        if ($uri !~ "^/wp-content/uploads/") {
            fastcgi_pass   unix:/var/run/php5-fpm.sock;
        }
        include        fastcgi_params;
    }


        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                        expires max;
                        log_not_found off;
                        access_log off;
        }

        location ~* \.(html|htm)$ {
                expires 30m;
        }

        location ~* /\.(ht|git|svn) {
                deny  all;
        }
}
{% endfor %}
